* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: black;
    --timer-background: linear-gradient(rgb(20, 20, 20), rgb(10, 10, 10));
    --timer-text: rgb(10,10,10);
    --timer-text-color: rgb(200,200,200);
} 

#line {
    position: absolute;
    top: 44.75vh;
    height: 0.25rem;
    width: 100vw;
    background-color: black;
    z-index: 23;
}

body {
    background-color: var(--background-color);
}

.block-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.time-container {
    height: 20vw;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--timer-background);
    color: var(--timer-text-color);
    margin: 2vh;
    border-radius: 2vh;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 12vw;
    font-stretch: extra-condensed;
    position: relative;
}

.time {
    position: absolute;
    height: 14vw;
    width: inherit;
    text-align: center;
    padding: 3vw 0 3vw 0;
    border-radius: 2vh;
    background-image: var(--timer-background);
}

.top {
    clip-path: inset(0 0 10vw 0);
    transform-style: preserve-3d;
    animation: flip infinite 0.5s;
    z-index: 23;
}


.bottom {
    clip-path: inset(10vw 0 0 0);
}

#format {
    position: absolute;
    top: 1vw;
    left: 1vw;
    padding: 0.5vh 1.25vh 0.5vh 1.5vh;
    border-radius: 1vh;
    border: none;
    background-color: var(--timer-text-color);
    color: var(--timer-text);
    font-weight: bold;
    font-stretch: extra-condensed;
    letter-spacing: 0.5vh;
    text-align: center;
    line-height: 1.5vw;
    font-size: 1.5vw;
    z-index: 2342342;
}


@keyframes flip {
    0%{
        transform: perspective(100vw) rotate3d(1, 0, 0, 0deg);
    }
    99%{
        transform: perspective(100vw) rotate3d(1, 0, 0, 180deg);
    }
    100%{
        transform: perspective(100vw) rotate3d(1, 0, 0, 0deg);
    }
}
